.idea/
__pycache__/
.terraform/
*.tfvars
static/
*.pyc

.env
.env.test
.coverage
coverage.xml
dev.log

.DS_Store
.vscode/
.ipynb_checkpoints/
*.ipynb

credentials.json
.tf/
db.sqlite3
dist/
django_event_sourcing.egg-info/
app_name/
